@import "../styles/theme.css";

.cbx-input-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.cbx-label {
  margin-bottom: 6px;
  font-size: 14px;
  color: var(--cbx-blue-dark);
}

.cbx-input {
  padding: 10px 12px;
  border: 1px solid var(--cbx-gray-300);
  border-radius: var(--cbx-radius-sm);
  font-size: 14px;
  outline: none;
}

.cbx-input:focus {
  border-color: var(--cbx-blue-light);
}

