@import "./theme.css";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Inter, Arial, sans-serif;
  background: var(--cbx-gray-100);
  color: var(--cbx-text-dark);
}

.app-frame {
  display: flex;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

/* MAIN CONTENT AREA */
.main-area {
  flex: 1;
  display: flex;
  flex-direction: column;
  background: var(--cbx-gray-100);
}

.content-area {
  padding: 25px;
}

